@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    font-family: 'PT Sans', sans-serif !important;
}

* {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


:root {
    --toastify-color-success: #6cbf6c !important;
    --toastify-color-info: #f7e628 !important;
}





.animate-fade-left {
    animation: fade-left 0.5s ease-out;
}


.asideMenu {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.topMenu {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
}

.noActive {
    box-shadow: none;
    background-color: transparent;
}


.Toastify__toast-container {
    bottom: 30px !important;
}


.actionBtn .css-1umw9bq-MuiSvgIcon-root {
    font-size: 18px !important;
}

td {
    border: 1px solid #F0F0F0 !important;
}